<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/blocks/head :: head"></head>
<body>
<header th:insert="blocks/header :: header-logout"></header>
<section th:if="${not #lists.isEmpty(userPosts)}" class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries element-animate">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="sidebar-box">
                    <h3 class="heading">My Posts</h3>
                    <div class="post-entry-sidebar">
                        <div class="row post__meta align-items-center mb-4" th:each="el : ${userPosts}">
                            <div class="col-12 col-sm-9">
                                <div class="d-flex align-items-center text-center text-sm-left flex-column flex-sm-row">
                                    <a class="d-block mr-sm-4" th:href="${'/blog/' + el.id}"><img
                                            alt="Image placeholder" class="post__thumb" th:src="${'data:image/png;base64,' + el.image}"></a>
                                    <div class="text my-3 my-sm-0">
                                        <h3 class="post__title" th:text="${el.title}"><a
                                                th:href="${'/blog/' + el.id}">Title</a></h3>
                                        <p class="post__date" th:text="${el.createdAt}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="d-flex justify-content-center justify-content-sm-between">
                                    <form method="post" th:action="${'/admin/blog/' + el.id + '/delete'}">
                                        <button class="btn btn-warning mr-3" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>