<div th:fragment="footer">
    <div class="site-footer">
        <div class="container align-bottom">
            <div class="row mb-5">
                <div class="col-md-5">
                    <h3 class="footer-heading mb-4">About Us</h3>
                    <p>On this website you can get acquainted with the news of the literary world</p>
                </div>
                <div class="col-md-3 ml-auto">
                    <ul class="list-unstyled float-left mr-5">
                        <li><a href="/about">About Us</a></li>
                    </ul>
                    <ul class="list-unstyled float-left">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3 class="footer-heading mb-4">Connect With Us</h3>
                        <p>
                            <a href="https://www.facebook.com/"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                            <a href="https://twitter.com/explore"><span class="icon-twitter p-2"></span></a>
                            <a href="https://www.instagram.com/"><span class="icon-instagram p-2"></span></a>
                            <a href="https://rss.com/"><span class="icon-rss p-2"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p>
                        Made in Armenia &copy; <script>document.write(new Date().getFullYear());</script><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>