<div th:fragment="header-login">
    <header class="site-navbar" role="banner">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="col-8 col-sm-4 site-logo">
                    <a href="/" class="text-black h2 mb-0">Poetry News</a>
                </div>
                <div class="col-8 text-right">
                    <nav class="site-navigation" role="navigation">
                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </nav>
                    <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </header>
</div>


<div th:fragment="header-logout">
    <header class="site-navbar" role="banner">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="col-8 col-sm-4 site-logo">
                    <a href="/" class="text-black h2 mb-0">Poetry News</a>
                </div>
                <div class="col-8 text-right">
                    <nav class="site-navigation" role="navigation">
                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </nav>
                    <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </header>
</div>